

.home{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/head.jpg);
    height: 100vh;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    color: white;

    display: flex;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    
}

.boal{
    color: f7d178;
}

.label {
height: 214px;
width: 692px;
}
.label .we-provide-cyber {
color: transparent;
font-family: 'Neue Montreal';
font-size: 64px;
font-weight: 700;
left: 0;
letter-spacing: 0;
line-height: normal;
position: fixed;
top: 0;
}
.label .text-wrapper {
color: #ffffff;
}
.label .span {
color: #f7d178;
}

.products{
    padding :100px;
    padding-top: 150px;
    height : 100vh;
    display: flex;

}

.part1{
    width:60%;
}

.part2{
    width:40%;
    padding: 50px;
}

.scroll-container {
     height: 100vh;
     }
    
     .carousel-primary,
     .carousel-secondary {
     width: 100%;
     overflow: hidden;
     position: absolute;
     white-space: nowrap;
     }
    
     .carousel-primary img {
        width: 200px;
        height: 200px;
     border-radius: 10px;
     }
     .carousel-primary {
     display: flex;
     justify-content: space-around;
     animation: scroll-horizontal 20s linear infinite;
     }
    
     .carousel-secondary {
     animation: scroll-horizontal 20s linear infinite;
     animation-delay: 10s;
     }
    
    @keyframes scroll-horizontal {
     0% {
     left: 100%;
     }
    
     100% {
     left: -100%;
     }
     }

     

